.custom
{
    width: 50%;
    margin: 5% 18%;
}
.custom1
{
    width: 30%;
    border-radius: 15px;
    margin-left: 40%;
}
.button
{
    margin-left: 68%;
}
.heading
{
    margin-top: 10%;
}