<div class="container-fluid header">
    <div class="row logo">
      <div class="col-md-12 col-sm-12"><h1>Kanban Board</h1></div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav customSize ">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" routerLink = "/"><i class="fas fa-user-plus"></i> SignUp</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" routerLink = "/login"><i class="fas fa-sign-in-alt"></i> Login</a>
              </li> 
            </ul>
                      </div>
        </div>
      </nav>
      
<div class="container">
  <div class="myCard">
    <div class="row">
      <div class="col-md-6">
        <div class="myLeftCtn">
          
          <!-- <form class="myForm text-center" #registerForm = "ngForm" (ngSubmit)="sendUserFormData(registerForm.value)"> -->
            <form class="myForm text-center" name="registerForm" [formGroup]="registerForm" (ngSubmit)="sendUserFormData(registerForm.value)">
              <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Data Is Saved Sucessfully.</strong>
                <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <header>Create new account</header>
            <div class="form-group">
              <i class="fas fa-user"></i>
              <input type="text" class="myInput" ngModel name="userName" placeholder="UserName" id="userName" >
              <div class="invalid-feedback">
                <div>User Name is required</div> 
              </div>
            </div>
            <div class="form-group">
              <i class="fas fa-envelope"></i>
              <input type="text" class="myInput" ngModel name="email" placeholder="Email" id="email">
              <div class="invalid-feedback">
                <div>Email is required</div> 
                <div>Email must be a valid email address</div>
              </div>
            </div>

            <div class="form-group">
              <i class="fas fa-lock"></i>
              <input type="password" class="myInput" ngModel name="password" id="password" placeholder="Password">
              <div class="invalid-feedback">
              <div>Password is required</div> 
              <div>Password must be atleast 4 character</div>
            </div>
            </div>
             
            <div>
              <input type="checkbox" id="check_1" name="check_1" 
              required><small> I read and agree to Terms & Conditions</small>
              <div class="invalid-feedback">You must check the box.</div>
            <!-- </label> -->
            </div>
            <input type="submit" class="butt" value="CREATE ACCOUNT">
          </form>
        </div>
      </div>
      <div class="col-md-6">
        <div class="myRightCtn">
          <div class="box"><header>Kanban Board</header>
         
            <p>The Kanban Board For <br> Modern Software Teams.</p>
               <input type="button" class="butt_out" value="Learn More"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


